
<h1>Log In</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" placeholder="username" value="">
  <input type="text" name="password" placeholder="password" value="">
  <button>Log In</button>
</form>
