<% include ../partials/header %>


<!-- put things in container to add some space on both side of the page -->
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To KhaiCamp!</h1>
      <p>Hear what people say about your favourite cars here at KhaiCamp</p>
      <p>
        <a class="btn btn-primary" href="/campgrounds/new">Add New Vehicle</a>
      </p>
    </div>

  </header>

    <div class="row text-center" style="display:flex;, flex-wrap:wrap;">
      <% campgrounds.forEach(function(campground){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card">
            <img src="<%= campground.image %>" class="img-fluid" alt="Responsive image">
            <div class="caption">
              <h4> <%= campground.name %> </h4>
            </div>
            <p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-sm">More Info</a>
            </p>
          </div>
        </div>
      <% }); %>
    </div>

</div>

<% include ../partials/footer %>
