body {
  background-color: lightgrey;
}

.jumbotron {
  background: url("../images/cool-background.png");
}

.card img{
  width: 100%;
}

.card .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}
